*{
    margin: 0%;
    padding: 0%;

}
.settings{
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 50px;
    }
.in,.loca{
    height: 25px;
    padding-left: 1%;

}
.location{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 8px;
}
.location {
    font-size: 10px;
    align-items: center;
    display: flex;
}
.search{
    flex: 1;
    display: flex;
    align-items: center;
    
    color: grey;
    max-width: 800px;
    border: 2px;
    margin-left: 10px;
    

}
.all,.dr{
    display: flex;
    align-items: center;
    padding: 8px 8px;
    gap: 5px;
    background: grey;
    border-radius: 4px 0 0 4px;
    color: aliceblue;    
}
.navs{
    border: 0px;
    outline: 0px;
    padding: 16px 250px;
    height: 12px;
    }
.icons{
    max-width: 30px;
    padding: 8px;
    background: orange;
}
.lang{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 500px;
    margin-left: 10px;
}
.ac{
    margin-left: 10px;
    align-items: center;
    
}
.ro{
    align-items: center;
    
}
.cart{
    display: flex;
    align-items: center;
}
.navbar{
    margin: 0%;
    border-color: #232f3e;

    background-color: #232f3e;
    height: 40px;
    

} 
.a{
    display: inline;
    background-color: #232f3e
    ;
    color: white;
    justify-content: space-between;
    padding-left: 18px;
    font-size: large;
    align-items: center;
    align-content: center;
    }
   .al{
    cursor: pointer;
    display: inline;
    justify-content: space-between;
    font-size: large;
    align-items: center;
    padding-left: 18px;
   } 
   .al:hover{
    background-color: #000000;
   }
nav{
    padding: 11px;
}
.slider{
    display: flex;
    overflow-y: hidden;
    height: 300px;
    
    
}
.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%,transparent 100%);
}

.lay{
display: inline-block;
mask-image: linear-gradient(to bottom, #000000 50%,transparent 90%);
}
.box{
   padding: 12px;
   
}
.offer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: wheat;
    text-align: center;
    
}
.box :hover{
    background: white;
    color: white;
    cursor: pointer;
    margin: none;
    padding: none;
    border: none;
}
.br{
    text-align: center;
    padding: 30px;
}
.ig{
    background: orange;
    width: 100px;
    cursor: pointer;
}
.sh{
    cursor: pointer;
}
.bt{
    margin: 0%;
    color: white;
    text-align: center;
    border: 0%;
    padding: 15px;
    outline: 0%;
}
footer{
    list-style: none;
    background-color: #232f3e;
}
.aboutus{
    justify-content: center;
    max-width: 2000px;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    list-style: none;
}
.get{
    list-style: none;
    padding: 40px; 
    justify-content: space-between;
    cursor: pointer;
}
h4{
    margin-bottom: 30px;
}
li{
    margin-bottom: 10px;
}

